<div class="input__container">
  <span class="keyboard__icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >keyboard</mat-icon
    >
  </span>
  <form [formGroup]="msgForm" (ngSubmit)="sendMessage(msgForm.value)">
    <input
      name="message"
      formControlName="message"
      type="text"
      class="input__box"
      autocomplete="off"
    />
    <button class="send__btn" type="submit" [disabled]="!msgForm.valid">
      <span>
        <mat-icon>send</mat-icon>
      </span>
    </button>
  </form>
</div>
