.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid var(--border);
  overflow: hidden;
  .chat-list {
    height: calc(100% - 110px);
    background-color: var(--background);
  }
}
