.container {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  height: 100%;

  .menu {
    height: 50px;
    background-color: aqua;
  }

  .search {
    height: 50px;
    background-color: azure;
  }

  .chat-list {
    height: calc(100% - 100px);
    background-color: blue;
  }
}
