.menu__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  padding: var(--spacing-08) var(--spacing-16);
  background-color: var(--menu-background);

  justify-content: space-between;
  .profile__image__container {
    margin: auto 0;
    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
  }

  .more__menu {
    color: var(--secondary);
    cursor: pointer;
  }
}
