<div class="signin__container">
  <mat-card class="signin__content">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="signin__form">
        <mat-form-field>
          <mat-label>Mobile Number</mat-label>
          <input matInput placeholder="Mobile Number" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>OTP</mat-label>
          <input matInput placeholder="OTP" />
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary">Sign In</button>
    </mat-card-actions>
  </mat-card>
</div>
